# 전화번호 목록

## 문제 설명
전화번호부에 적힌 전화번호 중, 한 번호가 다른 번호의 접두어인 경우가 있는지 확인하려 합니다.
전화번호가 다음과 같을 경우, 구조대 전화번호는 영석이의 전화번호의 접두사입니다.

- 구조대 : 119
- 박준영 : 97 674 223
- 지영석 : 11 9552 4421
  
전화번호부에 적힌 전화번호를 담은 배열 phone_book 이 solution 함수의 매개변수로 주어질 때, 어떤 번호가 다른 번호의 접두어인 경우가 있으면 false를 그렇지 않으면 true를 return 하도록 solution 함수를 작성해주세요.

### 제한 사항
- phone_book의 길이는 1 이상 1,000,000 이하입니다.
- 각 전화번호의 길이는 1 이상 20 이하입니다.
- 같은 전화번호가 중복해서 들어있지 않습니다.

  
### 입출력 예제
phone_book	return

["119", "97674223", "1195524421"]	false

["123","456","789"]	true

["12","123","1235","567","88"]	false


### 입출력 예 설명
입출력 예 #1
앞에서 설명한 예와 같습니다.

입출력 예 #2
한 번호가 다른 번호의 접두사인 경우가 없으므로, 답은 true입니다.

입출력 예 #3
첫 번째 전화번호, “12”가 두 번째 전화번호 “123”의 접두사입니다. 따라서 답은 false입니다.

### 어떻게 풀것인가
- input : list ; [sting1, string2, string3, ... ]
- 
- 길이 순으로 정렬
- 바로 뒤 숫자에 포함되는지 확인?
-

In [102]:
def phonebook(phone_book):
    answer = True
    phone_book.sort()
    i = 1
    for ns in phone_book:
        if i < len(phone_book) and ns[0] == phone_book[i][0] and ns in phone_book[i]:
            answer = False
            break
        i += 1
    return answer

In [101]:
Abook = ["12","123","1235","567","88"]
Bbook= ["119", "97674223", "1195524421"]
Cbook=["123","456","789"]
phonebook(Cbook)
# print('i=', i, 'ns= ',ns)

True

In [103]:
def shortbook(phone_book):
    answer = True 
    phone_book.sort()
    for ns, nns in zip(phone_book, phone_book[1:]):
        if nns.startswith(ns):
            answer = False
    return answer

In [104]:
shortbook(Bbook)

False

In [92]:
# for k in Abook:
if '12' in '23124':
    print('yes')
else:
    print('no')

yes

In [66]:
kk = ["97674223", "1195524421", "1019","2",'7','5','6']
kk.sort()
answer = True
# for i,k in enumerate(kk):
#     print(i,k)
i = 1
for n in kk:
    if i<len(kk) and n == kk[i]:
        answer = False
        print(n, kk[i+1])
        break
    i += 1
# print(kk)

In [67]:
answer

True

In [40]:
for i, h in enumerate(kk):
    if kk[i] in h:
        print(kk[i])

119
1195524421
2
5
6
7
97674223

In [41]:
len(k)

10

# 폰켓몬

## 문제 설명
당신은 폰켓몬을 잡기 위한 오랜 여행 끝에, 홍 박사님의 연구실에 도착했습니다. 홍 박사님은 당신에게 자신의 연구실에 있는 총 N 마리의 폰켓몬 중에서 N/2마리를 가져가도 좋다고 했습니다.

홍 박사님 연구실의 폰켓몬은 종류에 따라 번호를 붙여 구분합니다. 따라서 같은 종류의 폰켓몬은 같은 번호를 가지고 있습니다. 예를 들어 연구실에 총 4마리의 폰켓몬이 있고, 각 폰켓몬의 종류 번호가 [3번, 1번, 2번, 3번]이라면 이는 3번 폰켓몬 두 마리, 1번 폰켓몬 한 마리, 2번 폰켓몬 한 마리가 있음을 나타냅니다. 이때, 4마리의 폰켓몬 중 2마리를 고르는 방법은 다음과 같이 6가지가 있습니다.

- 첫 번째(3번), 두 번째(1번) 폰켓몬을 선택
- 첫 번째(3번), 세 번째(2번) 폰켓몬을 선택
- 첫 번째(3번), 네 번째(3번) 폰켓몬을 선택
- 두 번째(1번), 세 번째(2번) 폰켓몬을 선택
- 두 번째(1번), 네 번째(3번) 폰켓몬을 선택
- 세 번째(2번), 네 번째(3번) 폰켓몬을 선택

이때, 첫 번째(3번) 폰켓몬과 네 번째(3번) 폰켓몬을 선택하는 방법은 한 종류(3번 폰켓몬 두 마리)의 폰켓몬만 가질 수 있지만, 다른 방법들은 모두 두 종류의 폰켓몬을 가질 수 있습니다. 따라서 위 예시에서 가질 수 있는 폰켓몬 종류 수의 최댓값은 2가 됩니다.

당신은 최대한 다양한 종류의 폰켓몬을 가지길 원하기 때문에, 최대한 많은 종류의 폰켓몬을 포함해서 N/2마리를 선택하려 합니다. N마리 폰켓몬의 종류 번호가 담긴 배열 nums가 매개변수로 주어질 때, N/2마리의 폰켓몬을 선택하는 방법 중, 가장 많은 종류의 폰켓몬을 선택하는 방법을 찾아, 그때의 폰켓몬 종류 번호의 개수를 return 하도록 solution 함수를 완성해주세요.


## 제한사항
- nums는 폰켓몬의 종류 번호가 담긴 1차원 배열입니다.
- nums의 길이(N)는 1 이상 10,000 이하의 자연수이며, 항상 짝수로 주어집니다.
- 폰켓몬의 종류 번호는 1 이상 200,000 이하의 자연수로 나타냅니다.
- 가장 많은 종류의 폰켓몬을 선택하는 방법이 여러 가지인 경우에도, 선택할 수 있는 폰켓몬 종류 개수의 최댓값 하나만 return 하면 됩니다.
## 입출력 예
nums	result

[3,1,2,3]	2

[3,3,3,2,2,4]	3

[3,3,3,2,2,2]	2

입출력 예 설명
### 입출력 예 #1
문제의 예시와 같습니다.

### 입출력 예 #2
6마리의 폰켓몬이 있으므로, 3마리의 폰켓몬을 골라야 합니다.
가장 많은 종류의 폰켓몬을 고르기 위해서는 3번 폰켓몬 한 마리, 2번 폰켓몬 한 마리, 4번 폰켓몬 한 마리를 고르면 되며, 따라서 3을 return 합니다.

### 입출력 예 #3
6마리의 폰켓몬이 있으므로, 3마리의 폰켓몬을 골라야 합니다.
가장 많은 종류의 폰켓몬을 고르기 위해서는 3번 폰켓몬 한 마리와 2번 폰켓몬 두 마리를 고르거나, 혹은 3번 폰켓몬 두 마리와 2번 폰켓몬 한 마리를 고르면 됩니다. 따라서 최대 고를 수 있는 폰켓몬 종류의 수는 2입니다.

How to solve... ?

- N 마리중에 N/2마리를 골라야함
- len(nums) and len(nums)/2
-

In [158]:
def pocketmons(nums):
    answer =0 
    total = len(nums)
    nums.sort()
    
    picks = []
    check = 0
    
    for item in nums:
        if item == check:
            pass
        elif item != check and len(picks) < total/2:
            check = item 
            picks.append(check)

    answer = len(picks)
    return answer

In [161]:
# [3,1,2,3]	2

# [3,3,3,2,2,4]	3

# [3,3,3,2,2,2]	2
pocketmons([3,3,3,2,2,2])

2 pass
2 pass
3 pass
3 pass

2

In [162]:
def shortketmon(nums):
    return min(len(nums)/2, len(set(nums)))

In [163]:
# [3,1,2,3]	2

# [3,3,3,2,2,4]	3

# [3,3,3,2,2,2]	2
shortketmon([3,3,3,2,2,2])

2

# 완주하지 못한 선수

## 문제 설명
수많은 마라톤 선수들이 마라톤에 참여하였습니다. 단 한 명의 선수를 제외하고는 모든 선수가 마라톤을 완주하였습니다.

마라톤에 참여한 선수들의 이름이 담긴 배열 participant와 완주한 선수들의 이름이 담긴 배열 completion이 주어질 때, 완주하지 못한 선수의 이름을 return 하도록 solution 함수를 작성해주세요.

## 제한사항
- 마라톤 경기에 참여한 선수의 수는 1명 이상 100,000명 이하입니다.
- completion의 길이는 participant의 길이보다 1 작습니다.
- 참가자의 이름은 1개 이상 20개 이하의 알파벳 소문자로 이루어져 있습니다.
- 참가자 중에는 동명이인이 있을 수 있습니다.


## 입출력 예
### participant	completion	return
["leo", "kiki", "eden"]	["eden", "kiki"]	"leo"

["marina", "josipa", "nikola", "vinko", "filipa"]	["josipa", "filipa", "marina", "nikola"]	"vinko"


["mislav", "stanko", "mislav", "ana"]	["stanko", "ana", "mislav"]	"mislav"


## 입출력 예 설명
### 예제 #1
"leo"는 참여자 명단에는 있지만, 완주자 명단에는 없기 때문에 완주하지 못했습니다.

### 예제 #2
"vinko"는 참여자 명단에는 있지만, 완주자 명단에는 없기 때문에 완주하지 못했습니다.

### 예제 #3
"mislav"는 참여자 명단에는 두 명이 있지만, 완주자 명단에는 한 명밖에 없기 때문에 한명은 완주하지 못했습니다.

In [171]:
def marathon(participants, completion):
    answer = ''
    participants.sort()
    completion.sort()
    completion.append("zzzzzz")
    for par, com in zip(participants, completion):
        if par == com:
            pass
        elif par != com:
            answer = par
            break
    return answer

In [172]:
par = ["marina", "josipa", "nikola", "vinko", "filipa"]	
com = ["josipa", "marina", "vinko","nikola"]	
marathon(par, com)

'filipa'

In [173]:
# import collections


# def solution(participant, completion):
#     answer = collections.Counter(participant) - collections.Counter(completion)
#     return list(answer.keys())[0]

# 의상

## 문제설명
코니는 매일 다른 옷을 조합하여 입는것을 좋아합니다.

예를 들어 코니가 가진 옷이 아래와 같고, 오늘 코니가 동그란 안경, 긴 코트, 파란색 티셔츠를 입었다면 다음날은 청바지를 추가로 입거나 동그란 안경 대신 검정 선글라스를 착용하거나 해야합니다.

### 종류 : 이름
- 얼굴	: 동그란 안경, 검정 선글라스
- 상의	: 파란색 티셔츠
- 하의	: 청바지
- 겉옷 : 긴 코트


-
- 코니는 각 종류별로 최대 1가지 의상만 착용할 수 있습니다. 예를 들어 위 예시의 경우 동그란 안경과 검정 선글라스를 동시에 착용할 수는 없습니다.

- 착용한 의상의 일부가 겹치더라도, 다른 의상이 겹치지 않거나, 혹은 의상을 추가로 더 착용한 경우에는 서로 다른 방법으로 옷을 착용한 것으로 계산합니다.

- 코니는 하루에 최소 한 개의 의상은 입습니다.


코니가 가진 의상들이 담긴 2차원 배열 clothes가 주어질 때 서로 다른 옷의 조합의 수를 return 하도록 solution 함수를 작성해주세요.

## 제한사항
- clothes의 각 행은 [의상의 이름, 의상의 종류]로 이루어져 있습니다.
- 코니가 가진 의상의 수는 1개 이상 30개 이하입니다.
- 같은 이름을 가진 의상은 존재하지 않습니다.
- clothes의 모든 원소는 문자열로 이루어져 있습니다.
- 모든 문자열의 길이는 1 이상 20 이하인 자연수이고 알파벳 소문자 또는 '_' 로만 이루어져 있습니다.

### 입출력 예
- clothes	: return

- [["yellow_hat", "headgear"], ["blue_sunglasses", "eyewear"], ["green_turban", "headgear"]] :	5


- [["crow_mask", "face"], ["blue_sunglasses", "face"], ["smoky_makeup", "face"]] :	3

입출력 예 설명
### 예제 #1
headgear에 해당하는 의상이 yellow_hat, green_turban이고 eyewear에 해당하는 의상이 blue_sunglasses이므로 아래와 같이 5개의 조합이 가능합니다.

1. yellow_hat
2. blue_sunglasses
3. green_turban
4. yellow_hat + blue_sunglasses
5. green_turban + blue_sunglasses


### 예제 #2
face에 해당하는 의상이 crow_mask, blue_sunglasses, smoky_makeup이므로 아래와 같이 3개의 조합이 가능합니다.

1. crow_mask
2. blue_sunglasses
3. smoky_makeup

In [263]:
Acom = [["yellow_hat", "headgear"], ["blue_sunglasses", "eyewear"], ["green_turban", "headgear"]]
Bcom = [["crow_mask", "face"], ["blue_sunglasses", "face"], ["smoky_makeup", "face"]]

In [257]:
onelist = Acom[1][1]
list(onelist)

['e', 'y', 'e', 'w', 'e', 'a', 'r']

In [262]:
Acom

[['yellow_hat', 'headgear'],
 ['blue_sunglasses', 'eyewear'],
 ['green_turban', 'headgear']]

In [268]:
Adict = dict(Acom)

In [269]:
Adict

{'yellow_hat': 'headgear',
 'blue_sunglasses': 'eyewear',
 'green_turban': 'headgear'}

In [271]:
{v:k for k,v in Adict.items()}

{'headgear': 'green_turban', 'eyewear': 'blue_sunglasses'}

In [258]:
from collections import Counter

In [287]:
kindscnt = Counter(Adict.values())

In [291]:
kindscnt = dict(kindscnt)

In [298]:
for key,value in kindscnt.items():
    print(key, type(value))

headgear <class 'int'>
eyewear <class 'int'>

In [296]:
type(kindscnt)

dict

In [307]:
def defconfit(clothes):
    defcon = dict(clothes)
    dclothe = dict(Counter(defcon.values()))
    answer = 1
    for k,v in dclothe.items():
        answer = answer*(v + 1)
    answer -=1
    return answer

In [308]:
defconfit([["crow_mask", "face"], ["blue_sunglasses", "face"], ["smoky_makeup", "face"]])

3