ng.keys('muzi') startwith -> +1 // endwith -> -1

In [243]:
for k,v in ng.items():
    if k

muzi frodo
ryan muzi
frodo muzi
frodo ryan
neo muzi

In [ ]:
def solution(friends, gifts):
    answer = 0
    

    
    return answer

In [275]:
xyz = [1,2,3,4,5]
xcnt = Counter(xyz)
# xcnt = dict(xcnt)
print(xcnt.get(3))

1

In [5]:
from collections import Counter

In [6]:


def solution(array, n):
    answer = 0
    ncnt = Counter(array)
    return ncnt.get(n)

In [7]:
hh = [1,2,3,4,5,4,3,2,1,1,1,1]
solution(hh,1)

5

In [26]:
def solution(rsp):
    answer = ''
    for i in rsp:
        if i =='2':
            answer+='0'
        elif i =='0':
            answer+='5'
        elif i =='5':
            answer+= '2'
    # return ''.join(answer)
    # x = print(answer[f] for f in range(len(answer)))
    return answer

In [33]:
import numpy as np
aaa=[12,34,5,6,77,80]
x = max(aaa)
aaa.pop(np.argmax(aaa))
y = max(aaa)
print(x,y)

80 77

In [43]:
print(ord('A'), ord('Z'), ord('a'), ord('z'))

65 90 97 122

In [44]:
print(97-65, 122-90)

32 32

In [49]:
chr(122)

'z'

In [ ]:
def solution(my_string):
    answer = ''
    for str in my_string:
        if ord(str) < 90 and ord(str)>65:
            answer += chr(ord(str)+32)
        elif ord(str) < 122 and ord(str) > 97:
            answer -= chr(ord(str)-32)
    return answer

In [50]:
3//5

0

In [59]:
def solution(n):
    answer = 0
    i = 0
    while i <= n/2: 
        if i*i == n:
            answer = 1
            break
        else:
            answer = 2
        i += 1
    return answer

In [61]:
astr = 'abdkgj'
astr[4]

'g'

In [68]:
def swatch(my_string, num1, num2):
    answer = ''
    for i, str in enumerate(my_string):
        if i == num1:
            answer += my_string[num2]
            print(answer)
        if i == num2:
            answer += my_string[num1]
            print(answer)
        elif i != num1 and i!= num2: 
            answer += str
            print(answer)
    
    return answer

In [69]:
swatch('hello', 1,2)

h
hl
hle
hlel
hlelo

'hlelo'

In [73]:
def elementslength(strlist):
    answer = []
    for i in range(len(strlist)):
        answer.append(len(strlist[i]))
    return answer

In [74]:
elementslength(["We", "are", "the", "world!"])

[2, 3, 3, 6]

In [96]:
def solution(my_string):
    answer = ''
    tmp = list(my_string)
    tmp.reverse()
    for l in range(len(tmp)):
        answer += tmp[l]
    return answer

In [95]:
solution("jaron")

['n', 'o', 'r', 'a', 'j']

'noraj'

In [86]:
k = "jaron"
k = list(k)
k.reverse()

In [87]:
k

"['n', 'o', 'r', 'a', 'j']"

In [108]:
def pizza(slice, n):
    answer =0 
    if n%slice ==0:
        answer = n//slice
        print(n%slice)
        print(answer)
    elif n%slice != 0:
        answer = n//slice + 1
    return answer

In [110]:
pizza(7,10)

2

In [115]:
print(ord('0'), ord('9'))

48 57

In [125]:
def pizza3(n):
    answer = 1
    while 6*answer%n !=0:
        answer+= 1
    return answer

In [126]:
pizza3(10)

5

In [141]:
def moving(numbers, direction):
    answer = []
    answer = numbers
    if direction == 'right':
        for i in range(len(numbers)):
            if i == len(numbers):
                answer.insert(numbers[i])
            else:
                answer[i]=numbers[i-1]
    elif direction == 'left':
        for i in range(len(numbers)):
            if i == 0:
                answer.append(numbers[i])
            else:
                answer.append(numbers[i])
        
    return answer

In [142]:
moving([1,2,3],'right')

[3, 3, 3]

In [151]:
def boxes(box, n):
    answer = (box[0]//n) * (box[1]//n) * (box[2]//n)
    print(box[0]//n, box[1]//n, box[2]//n)
    print(box[0]//n * box[1]//n * box[2]//n)
    return answer

In [152]:
boxes([10,8,6], 3)

3 2 2
16

12

In [167]:
def primes(n):
    answer = []
    for k in range(n):
        print(k+1)
        if n//(k+1) == 0 :
            answer.append(k)
            # print(k+1)
        elif n//(k+1) != 0:
            pass
    return answer

In [191]:
def tens(num, k):
    print(type(num))
    num = str(num)
    print(type(num), num)
    while num//ith==0:
        
        ith += 1

In [192]:
tens(29183,1)

<class 'int'>
<class 'str'> 29183
<class 'int'> <class 'str'>

-1

In [94]:
# (분수의 덧셈) 문제 설명
# 첫 번째 분수의 분자와 분모를 뜻하는 numer1, denom1, 
# 두 번째 분수의 분자와 분모를 뜻하는 numer2, denom2가 매개변수로 주어집니다. 
# 두 분수를 더한 값을 기약 분수로 나타냈을 때 
# 분자와 분모를 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.

# 제한사항
# 0 <numer1, denom1, numer2, denom2 < 1,000

    
# 입출력 예
# numer1	denom1	numer2	denom2	result
# 1	2	3	4	[5, 4]
# 9	2	1	3	[29, 6]

def divisionsum(numer1, denom1, numer2, denom2):
    prime
    numset1 = []
    denset1 = []
    lcm = 1
    gcd = 1

    if denom1 == denom2 :
        numre1 = numer1 + numer2 
        denomre1 = denom1
    elif denom1 != denom2 :
        numre1 = numer1*denom2 + numer2*denom1
        denomre1 = denom1*denom2
        
    for i in range(1,numre1+1):
        if numre1%i == 0:
            numset1.append(i)
            
    for k in range(1,denomre1+1):
        if denomre1%k == 0:
            denset1.append(k)

    gcdset = set(numset1).intersection(denset1)
    print(numset1, denset1)
    print(gcdset)
    for x in gcdset:
        gcd *= x
    print(gcd)
    return [int(numre1/gcd), int(denomre1/gcd)]

In [122]:
primeset = '2	3	5	7	11	13	17	19	23	29	31	37	41	43	47	53	59	61	67	71 73	79	83	89	97	101	103	107	109	113	127	131	137	139	149	151	157	163	167	173 179	181	191	193	197	199	211	223	227	229	233	239	241	251	257	263	269	271	277	281 283	293	307	311	313	317	331	337	347	349	353	359	367	373	379	383	389	397	401	409 419	421	431	433	439	443	449	457	461	463	467	479	487	491	499	503	509	521	523	541 547	557	563	569	571	577	587	593	599	601	607	613	617	619	631	641	643	647	653	659 661	673	677	683	691	701	709	719	727	733	739	743	751	757	761	769	773	787	797	809 811	821	823	827	829	839	853	857	859	863	877	881	883	887	907	911	919	929	937	941 947	953	967	971	977	983	991	997'

In [123]:
primelist = primeset.split()

In [125]:
primelist = [int(x) for x in primelist]

In [126]:
primelist

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

In [95]:
divisionsum(4,8,8,16)

[1, 2, 4, 8, 16, 32, 64, 128] [1, 2, 4, 8, 16, 32, 64, 128]
{32, 1, 2, 64, 4, 128, 8, 16}
268435456

[0, 0]

In [151]:
def pranalysis(inte):
    x=1
    div = []
    result = 1
    while inte//x >=1:
        if inte%x==0:
            if x in primelist:
                div.append(x)
            else:
                for y in range(1,x):
                    if x%y==0:
                        print(y)
                        if y in primelist:
                            div.append(y)
                            # div.append(x/y)
        x+= 1
    # for pp in div:
    #     result += pp
    return div

In [152]:
pranalysis(100)

1
2
1
2
5
1
2
4
5
10
1
5
1
2
5
10
25
1
2
4
5
10
20
25
50

[2, 2, 5, 2, 5, 2, 5, 5, 2, 5, 2, 5]

In [148]:
def divsim(num, den):
    
    
    numset = []
    denset = []
    comm = []
    gcd = 1      
    if num>den and num%den ==0:
        return [int(num/den),1]
    elif den>num and den%num ==0:
        return [1, int(den/num)]
    elif den==num:
        return [1,1]
    else:
        for i in range(1,num+1):
            if num%i == 0:
                numset.append(i)
            
        for k in range(1+1,den+1):
            if den%k == 0:
                denset.append(k)
                if k in numset:
                    comm.append(k)
        for x in range(len(comm)):
            for y in comm:
                if comm[-x]%y==0:
                    pass
            
        

    gcdset = set(numset).intersection(denset)
    for x in gcdset:
        gcd *= x
    print(gcdset)
    print(num, gcd)
    return [int(num/gcd),int(den/gcd)]

In [120]:
divsim(4,8)

set()
4 1

[4, 8]

In [14]:
def lcm(n1, n2):
    if n1%n2==0:
        return n1
    elif n2%n1==0:
        return n2
    else:
        dv = 1
        for i in range(2,n1-1):
            if n1<=2 and n1%2==0:
                dv = 2
            if n1%(i)==0:
                dv = max(dv, i)
        return dv*n2

In [2]:
def gcd(d1, d2):
    if d1%d2==0:
        return d2
    elif d2%d1==0:
        return d1
    else:
        dv = 1
        for i in range(1,d1):
            if i ==1 and d1%2==0 and d2%2 ==0:
                dv = 2
            if i> 1 and d1%i==0:
                if d2%i==0:
                    dv = max(dv, i)
                else:
                    pass
            else:
                return 1
    return dv

In [69]:
divisionsum(1,35,1,55)

[18, 385]

In [70]:
divisionsum(9,2,1,3)

[29, 6]

array	result

[1, 2, 3, 3, 3, 4]	3

[1, 1, 2, 2]	-1

[1]	1

In [329]:
from collections import Counter

In [330]:
arr= [1,2,3,3,3,4]
arr=Counter(arr)()

dict_keys([1, 2, 3, 4])

In [332]:
ali = list(arr.values())

In [335]:
ali

[1, 1, 1, 3]

In [334]:
ali.sort()

In [338]:
# (최빈값 구하기)문제 설명
# 최빈값은 주어진 값 중에서 가장 자주 나오는 값을 의미합니다. 정수 배열 array가 매개변수로 주어질 때, 최빈값을 return 하도록 solution 함수를 완성해보세요. 최빈값이 여러 개면 -1을 return 합니다.

# 제한사항
# 0 < array의 길이 < 100
# 0 ≤ array의 원소 < 1000
# 입출력 예
# array	result
# [1, 2, 3, 3, 3, 4]	3
# [1, 1, 2, 2]	-1
# [1]	1

def mostfrequent(array):
    count = Counter(array)
    inlist = list(count.values())
    inlist.sort()
    if len(inlist)==1:
        return inlist[0]
    if inlist[-1]==inlist[-2]:
        return -1
    else:
        return inlist[-1]

In [339]:
mostfrequent(arr)

3

In [344]:
arr1 = [1]
arr1.sort()

In [359]:
def lowercase(my_string):
    lo = my_string.lower()
    print(lo)
    tmp=[]
    for str in lo:
        tmp.append(str)
    tmp.sort()
    return tmp

In [360]:
lowercase('BaCD')

bacd

['a', 'b', 'c', 'd']

In [348]:
'bACd'.lower()

'bacd'

In [356]:
[x.lower() for x in ["ABCC"]]

['abcc']

In [363]:
print(ord('a'),ord('z'))

97 122

In [365]:
print(chr(97+9))

j

In [399]:
def comn(n):
    ndiv =0
    cnt = 0
    for i in range(1,n+1):
        if (n)%i==0:
            cnt+=1
        else:
            pass        
    if cnt >=3:
        ndiv = 1
    else: 
        pass
    return ndiv

In [403]:
comn(6)

1

In [414]:
def cntnn(n):
    answer = 0
    if n <=2:
        pass
    else:
        for i in range(1,n+1):
            if comn(i)==1:
                answer+=1
        
    return answer

In [416]:
cntnn(15)

8

In [417]:
twod = [[1,2],[3,4],[5,6]]

In [50]:
import numpy as np
def tdarray(num_list,n):
    
    cols = len(num_list)//n
    answer = np.zeros((cols,n))
    for k in range(cols):
        nk = n*k
        # print(nk)
        answer[k,:]=num_list[nk:nk+n]

    answer=answer.tolist()
    return answer

In [51]:
abcde = [1,2,3,4,5,6]
abcde = [100, 95, 2, 4, 5, 6, 18, 33, 948]
tdarray(abcde,3)

[[100.0, 95.0, 2.0], [4.0, 5.0, 6.0], [18.0, 33.0, 948.0]]

In [77]:
def priori(emergency):
    answer = []
    cp1 = emergency.copy()
    cp1.sort()
    for i in range(len(emergency)):
        answer.append((len(emergency)-cp1.index(emergency[i])))
        print(-i-1,cp1[-i-1])
    return answer

In [78]:
emer1 = [30, 10, 23, 6, 100] # [2,4,3,5,1]

In [79]:
priori(emer1)

-1 100
-2 30
-3 23
-4 10
-5 6

[2, 4, 3, 5, 1]

In [75]:
emer1.sort()

In [76]:
emer1

[6, 10, 23, 30, 100]

In [80]:
morse = { 
    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f',
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l',
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r',
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x',
    '-.--':'y','--..':'z'
}

In [97]:
def morsetoletter(letter):
    answer = ''
    morse = {'.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f',
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l',
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r',
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x',
    '-.--':'y','--..':'z'}
    letters = letter.split()
    for st in letters:
        for key, value in morse.items():
            if st==key:
                answer+=value
    return answer

In [98]:
morsetoletter(".... . .-.. .-.. ---")

h ....
e .
l .-..
l .-..
o ---

'hello'

In [83]:
ord(' ')

32

In [86]:
".... . .-.. .-.. ---".split()

['....', '.', '.-..', '.-..', '---']

In [99]:
def factorial(num):
    fn = 1
    for k in range(num):
        fn *= (k+1) 
    return fn

In [100]:
factorial(10)

3628800

In [149]:
def maxfact(n):
    answer = 0
    # for i in range(n):
    #     k = factorial(n-i)
    #     if n>=k:
    #          return n-i
    while n>=1:
        answer += 1
        n = n/answer
    return answer-1

In [148]:
maxfact(7)

4

In [147]:
maxfact(3628800)

11

In [131]:
factorial(6)

720

In [144]:
n=100
k=1
while n >= 1:
    k+=1
    n = n/k
print(n,k)

0.8333333333333334 5

In [150]:
'ABCd'.lower()

'abcd'

In [154]:
print(ord('0'),ord('9'))

48 57

In [156]:
if 0:
    print('yes')

In [159]:
def ifint(astring):
    if ord(astring) >=48 and ord(astring)<=57:
        return 0
    else:
        return 1
def numsum(my_string):
    answer = 0
    tmp = ''
    for i, l in enumerate(my_string):
        if l.isnumeric():
            
            tmp += l
            # if my_string[i+1].isnumeric():
            #     pass
            # elif not my_string[i+1].isnumeric():
            #     tmp = int(tmp)
            #     answer += tmp
        elif not l.isnumeric():
            tmp += ' '
    listtemp  = tmp.split()
    for ii in listtemp:
        answer += int(ii)
    return answer

In [160]:
numsum("R9")

9

In [206]:
print(ord('a'), ord('z'), ord('A'), ord('Z'))

97 122 65 90

In [213]:
from collections import Counter

In [218]:
Counter(hh)

Counter({'k': 3,
         'a': 1,
         '2': 1,
         '3': 1,
         '4': 1,
         '5': 1,
         'l': 1,
         'd': 1,
         'f': 1})

In [219]:
# 문제 설명
# 문자열 before와 after가 매개변수로 주어질 때, 
# before의 순서를 바꾸어 after를 만들 수 있으면 1을, 
# 만들 수 없으면 0을 return 하도록 solution 함수를 완성해보세요.
def combi(before, after):
    if Counter(before) == Counter(after):
        return 1
    else:
        return 0

In [220]:
combi('apple', 'allpe')

0

In [224]:
alist =[3,4,5,2,6,3,2,44]

In [250]:
# 문제 설명
# 정수 배열 array와 정수 n이 매개변수로 주어질 때, 
# array에 들어있는 정수 중 n과 가장 가까운 수를 return 하도록 
# solution 함수를 완성해주세요.

def minimi(array, n):
    answer = array[0]
    tmp = abs(array[0]-n)
    for i in range(len(array)):
        if tmp != min(tmp,abs(array[i]- n)):
            answer = array[i]
        elif answer > array[i] and tmp == min(answer,abs(array[i]-n)):
            answer = array[i]
        tmp = min(tmp,abs(array[i] - n))
    return answer

In [251]:
minimi([1,3,4],2)

1

In [256]:
dit=Counter(hh)

In [259]:
dit.values()

dict_values([1, 1, 3, 1, 1, 1, 1, 1, 1])

In [260]:
# 문제 설명
# 문자열 s가 매개변수로 주어집니다. 
# s에서 한 번만 등장하는 문자를 사전 순으로 정렬한 문자열을 return 하도록 
# solution 함수를 완성해보세요. 
# 한 번만 등장하는 문자가 없을 경우 빈 문자열을 return 합니다.

def once(s):
    answer = ''
    tmp = Counter(s)
    for k,v in tmp.items():
        if v == 1:
            answer += k
    return answer

In [261]:
once('apple')

'ale'

In [4]:
# 문제 설명
# 1부터 13까지의 수에서, 1은 1, 10, 11, 12, 13 이렇게 총 6번 등장합니다. 
# 정수 i, j, k가 매개변수로 주어질 때, i부터 j까지 k가 몇 번 등장하는지 
# return 하도록 solution 함수를 완성해주세요.

def howmanyk(i,j,k):
    answer = 0
    for itg in range(i,j+1):
        tmp = str(itg)
        for st in tmp:
            if st ==str(k):
                answer += 1
    return answer

In [5]:
howmanyk(1,10,1)

2

In [1]:
ll = str(10)

In [36]:
# (소인수분해) 문제 설명
# 소인수분해란 어떤 수를 소수들의 곱으로 표현하는 것입니다. 
# 예를 들어 12를 소인수 분해하면 2 * 2 * 3 으로 나타낼 수 있습니다. 
# 따라서 12의 소인수는 2와 3입니다. 
# 자연수 n이 매개변수로 주어질 때 
# n의 소인수를 오름차순으로 담은 배열을 return하도록 
# solution 함수를 완성해주세요.
    
def primes(n):
    answer = []
    k = 2
    while n // k >=1:
        if n%k ==0:
            if aprime(k):
                answer.append(k)
        else:
            pass
        k+=1
    return answer

In [31]:
# import math
def aprime(num):
    answer = 1
    for k in range(2,int(math.sqrt(num))+1):
        if num%k==0:
            answer= 0
        else:
            pass
    return answer

In [37]:
primes(12) # [2,3]

[2, 3]

In [38]:
chr(10)

'\n'

In [55]:
# (이진수 구하기) 문제 설명
# 이진수를 의미하는 두 개의 문자열 bin1과 bin2가 매개변수로 주어질 때, 
# 두 이진수의 합을 return하도록 solution 함수를 완성해주세요.
def binsum(bin1, bin2):
    b1 = int(bin1,2)
    b2 = int(bin2,2)
    answer = b1 + b2
    return bin(answer)[2:]

In [56]:
binsum('10','11')

'101'

In [143]:
# (잘라서 배열로 저장하기) 문제 설명
# 문자열 my_str과 n이 매개변수로 주어질 때, 
# my_str을 길이 n씩 잘라서 저장한 배열을 return하도록 
# solution 함수를 완성해주세요.

def slices(my_str, n):
    answer = []
    k=1
    tmp =''
    while len(my_str) > k-1:
        if n*(len(my_str)//n) > k-1 and k%n != 0:
            tmp += my_str[k-1]
        elif n*(len(my_str)//n) >= k-1 and  k%n ==0:
            tmp += my_str[k-1]
            answer.append(tmp)
            tmp = ''
        elif n*(len(my_str)//n) <= k-1:
            if k  != len(my_str):
                tmp += my_str[k-1]
            elif k  == len(my_str):
                tmp += my_str[k-1]
                answer.append(tmp)
        k+=1
        
    return answer

In [144]:
slices("abc1Addfggg4556b",6)

1,2,3,4,5,7,8,9,10,11 1
1,2,3,4,5,7,8,9,10,11 2
1,2,3,4,5,7,8,9,10,11 3
1,2,3,4,5,7,8,9,10,11 4
1,2,3,4,5,7,8,9,10,11 5
6,12 6
1,2,3,4,5,7,8,9,10,11 7
1,2,3,4,5,7,8,9,10,11 8
1,2,3,4,5,7,8,9,10,11 9
1,2,3,4,5,7,8,9,10,11 10
1,2,3,4,5,7,8,9,10,11 11
6,12 12
13,14,15 13
13,14,15 14
13,14,15 15
16 16

['abc1Ad', 'dfggg4', '556b']

In [150]:
# (컨트롤제트)문제 설명
# 숫자와 "Z"가 공백으로 구분되어 담긴 문자열이 주어집니다. 
# 문자열에 있는 숫자를 차례대로 더하려고 합니다. 
# 이 때 "Z"가 나오면 바로 전에 더했던 숫자를 뺀다는 뜻입니다. 
# 숫자와 "Z"로 이루어진 문자열 s가 주어질 때, 
# 머쓱이가 구한 값을 return 하도록 solution 함수를 완성해보세요.

def controlz(s):
    answer = 0
    tmplist = s.split()
    for i,tmp in enumerate(tmplist):
        if tmp == 'Z':
            answer -= int(tmplist[i-1])
        else:
            answer+= int(tmp)
    return answer

In [151]:
controlz("1 2 Z 3")

4

In [ ]:
# s	result
# "1 2 Z 3"	4
# "10 20 30 40"	100

In [145]:
tests = "1 2 Z 3"
testlist = tests.split()

In [164]:
# (공던지기) 문제 설명
# 머쓱이는 친구들과 동그랗게 서서 공 던지기 게임을 하고 있습니다. 
# 공은 1번부터 던지며 오른쪽으로 한 명을 건너뛰고 그다음 사람에게만 던질 수 있습니다. 
# 친구들의 번호가 들어있는 정수 배열 numbers와 정수 K가 주어질 때, 
# k번째로 공을 던지는 사람의 번호는 무엇인지 return 하도록 solution 함수를 완성해보세요.
# numbers	k	result
# [1, 2, 3, 4]	2	3
# [1, 2, 3, 4, 5, 6]	5	3
# [1, 2, 3]	3	2

def ballplay(numbers, k):
    answer = 0
    mx = len(numbers)
    ball = 2*k-1
    if ball%mx==0:
        answer = mx
    else:
        answer = ball%mx
    return answer

In [165]:
ballplay([1,2,3],5)

3

In [226]:
# (문자열 계산하기) 문제 설명
# my_string은 "3 + 5"처럼 문자열로 된 수식입니다. 
# 문자열 my_string이 매개변수로 주어질 때, 
# 수식을 계산한 값을 return 하는 solution 함수를 완성해주세요.

def calcul(my_string):
    answer = 0
    strings = my_string.split()
    for i, st in enumerate(strings):
        if i == 0:
            answer += int(st)
        else:
            if strings[i-1] =='-':
                answer -= int(strings[i])
            elif strings[i-1] == '+':
                answer += int(strings[i])
    return answer

In [227]:
calcul("50 + 3 - 2")

51

In [244]:
# (영어가 싫어요)문제 설명
# 영어가 싫은 머쓱이는 영어로 표기되어있는 숫자를 수로 바꾸려고 합니다. 
# 문자열 numbers가 매개변수로 주어질 때, 
# numbers를 정수로 바꿔 return 하도록 solution 함수를 완성해 주세요.
# numbers	result
# "onetwothreefourfivesixseveneightnine"	123456789
# "onefourzerosixseven"	14067

def noenglish(numbers):
    numbers = numbers.replace("one","1")
    numbers = numbers.replace("two","2")
    numbers = numbers.replace("three","3")
    numbers = numbers.replace("four","4")
    numbers = numbers.replace("five","5")
    numbers = numbers.replace("six","6")
    numbers = numbers.replace("seven","7")
    numbers = numbers.replace("eight","8")
    numbers = numbers.replace("nine","9")
    numbers = numbers.replace("zero","0")
    return int(numbers)

In [245]:
noenglish("onetwothreefourfivesixseveneightnine")

123456789

In [272]:
# (구슬을 나누는 경우의 수) 문제 설명
# 머쓱이는 구슬을 친구들에게 나누어주려고 합니다. 
# 구슬은 모두 다르게 생겼습니다. 머쓱이가 갖고 있는 구슬의 개수 balls와 
# 친구들에게 나누어 줄 구슬 개수 share이 매개변수로 주어질 때,
# balls개의 구슬 중 share개의 구슬을 고르는 
# 가능한 모든 경우의 수를 return 하는 solution 함수를 완성해주세요.
# balls	share	result
# 3	2	3
# 5	3	10

def divideballs(balls,share):
    tmp = 1
    for nume in range(share+1,balls+1,1):
        tmp *= nume
    for deno in range(1,(balls-share)+1):
        tmp = tmp/deno
    return int(tmp)

In [299]:
divideballs(10,3)

120

In [307]:
# (삼각형의 완성조건 (2))문제 설명
# 선분 세 개로 삼각형을 만들기 위해서는 다음과 같은 조건을 만족해야 합니다.

# 가장 긴 변의 길이는 다른 두 변의 길이의 합보다 작아야 합니다.
# 삼각형의 두 변의 길이가 담긴 배열 sides이 매개변수로 주어집니다. 
# 나머지 한 변이 될 수 있는 정수의 개수를 return하도록 solution 함수를 완성해주세요.
# 입출력 예
# sides	result
# [1, 2]	1
# [3, 6]	5
# [11, 7]	13
# a,b c:long => a+b > c => 
# a, b:long, c => a+c > b => b - a 
def triangle(sides):
    result = 0
    longer = max(sides)
    short = min(sides)
    result += sum(sides) - longer -1
    print(result)
    result += longer - short
    print(result)
    return result

In [308]:
triangle([11,7])

6
10

10

In [301]:
alist = [2,3,4]

In [302]:
sum(alist)

9

In [354]:
# (외계어 사전) 문제 설명
# PROGRAMMERS-962 행성에 불시착한 우주비행사 머쓱이는 
# 외계행성의 언어를 공부하려고 합니다.
# 알파벳이 담긴 배열 spell과 외계어 사전 dic이 매개변수로 주어집니다. 
# spell에 담긴 알파벳을 한번씩만 모두 사용한 단어가
# dic에 존재한다면 1, 존재하지 않는다면 2를 return하도록 
# solution 함수를 완성해주세요.
# 입출력 예
# spell	dic	result
# ["p", "o", "s"]	["sod", "eocd", "qixm", "adio", "soo"]	2
# ["z", "d", "x"]	["def", "dww", "dzx", "loveaw"]	1
# ["s", "o", "m", "d"]	["moos", "dzx", "smm", "sunmmo", "som"]	2
# 입출력 예 설명
# 입출력 예 #1

# "p", "o", "s" 를 조합해 만들 수 있는 단어가 dic에 존재하지 않습니다. 따라서 2를 return합니다.
# 입출력 예 #2

# "z", "d", "x" 를 조합해 만들 수 있는 단어 "dzx"가 dic에 존재합니다. 따라서 1을 return합니다.
# 입출력 예 #3

# "s", "o", "m", "d" 를 조합해 만들 수 있는 단어가 dic에 존재하지 않습니다. 따라서 2을 return합니다.
# 유의사항
# 입출력 예 #3 에서 "moos", "smm", "som"도 "s", "o", "m", "d" 를 조합해 만들 수 있지만 spell의 원소를 모두 사용해야 하기 때문에 정답이 아닙니다.
def aldic(spell, dic):
    answer = 0
    notan = 0
    spell.sort()
    for word in dic:
        aword = []
        for i,st in enumerate(word):
            aword.append(st)
            aword.sort()
            if len(aword) == len(spell):
                if aword == spell:
                    answer = 1
                else: 
                    notan = 2
    if answer ==1:
        return 1
    elif answer ==0:
        return 2

In [355]:
aldic( ["a", "b", "c"], ["c"])

2

In [332]:
alist = ['a','b','c']
klist = ['b','c','a']
alist.sort() == klist.sort()

True

In [365]:
# (직사각형 넓이 구하기) 문제 설명
# 2차원 좌표 평면에 변이 축과 평행한 직사각형이 있습니다. 
# 직사각형 네 꼭짓점의 좌표 [[x1, y1], [x2, y2], [x3, y3], [x4, y4]]가 
# 담겨있는 배열 dots가 매개변수로 주어질 때, 
# 직사각형의 넓이를 return 하도록 solution 함수를 완성해보세요.

# 입출력 예
# dots	result
# [[1, 1], [2, 1], [2, 2], [1, 2]]	1
# [[-1, -1], [1, 1], [1, -1], [-1, 1]]	4

def sqarea(dots):
    answer = 0
    width = max(dots)[0]-min(dots)[0]
    height = max(dots)[1]-min(dots)[1]
    answer = width * height
    return int(answer)

In [367]:
sqarea([[-1, -1], [1, 1], [1, -1], [-1, 1]])

4

In [356]:
ex1 = [[1, 1], [2, 1], [2, 2], [1, 2]]

In [362]:
for point in ex1:
    point

-1

In [380]:
# (캐릭터의 좌표)문제 설명
# 머쓱이는 RPG게임을 하고 있습니다. 
# 게임에는 up, down, left, right 방향키가 있으며 
# 각 키를 누르면 위, 아래, 왼쪽, 오른쪽으로 한 칸씩 이동합니다. 
# 예를 들어 [0,0]에서 up을 누른다면 캐릭터의 좌표는 [0, 1], 
# down을 누른다면 [0, -1], left를 누른다면 [-1, 0], 
# right를 누른다면 [1, 0]입니다. 머쓱이가 입력한 방향키의 배열 keyinput와 
# 맵의 크기 board이 매개변수로 주어집니다. 
# 캐릭터는 항상 [0,0]에서 시작할 때 키 입력이 모두 끝난 뒤에 
# 캐릭터의 좌표 [x, y]를 return하도록 solution 함수를 완성해주세요.

# [0, 0]은 board의 정 중앙에 위치합니다. 
# 예를 들어 board의 가로 크기가 9라면 캐릭터는 
# 왼쪽으로 최대 [-4, 0]까지 오른쪽으로 최대 [4, 0]까지 이동할 수 있습니다.

# keyinput	board	result
# ["left", "right", "up", "right", "right"]	[11, 11]	[2, 1]
# ["down", "down", "down", "down", "down"]	[7, 9]	[0, -4]


def gamemoving(keyinput, board):
    # answer = []
    position = [0,0]
    for move in keyinput:
        if move == "left" and (position[0]) > -(int(board[0]//2)):
            position[0] += -1
            print(position)
        elif move == "right" and (position[0]) < (int(board[0]//2)):
            position[0] += 1
            print(position)
        elif move == "up" and (position[1]) < (int(board[1]//2)):
            position[1] += 1
            print(position)
        elif move == "down" and (position[1]) >- (int(board[1]//2)):
            position[1] += -1
            print(position)
        else :
            pass
            print(position)
            
    return position

In [381]:
gamemoving(["right", "right", "right", "right", "right", "left"], [9, 5] )

[1, 0]
[2, 0]
[3, 0]
[4, 0]
[4, 0]
[3, 0]

[3, 0]

In [390]:
# (종이 자르기)문제 설명
# 머쓱이는 큰 종이를 1 x 1 크기로 자르려고 합니다. 
# 예를 들어 2 x 2 크기의 종이를 1 x 1 크기로 자르려면 
# 최소 가위질 세 번이 필요합니다.
# 정수 M, N이 매개변수로 주어질 때,
# M x N 크기의 종이를 최소로 가위질 해야하는 횟수를 return 하도록 
# solution 함수를 완성해보세요.
# 입출력 예
# M	N	result
# 2	2	3
# 2	5	9
# 1	1	0

    
def paper(M, N):
    answer = M*N -1
    return answer

In [391]:
paper(2,5)

9

In [406]:
# (로그인 성공?)문제 설명
# 머쓱이는 프로그래머스에 로그인하려고 합니다. 
# 머쓱이가 입력한 아이디와 패스워드가 담긴 배열 id_pw와 
# 회원들의 정보가 담긴 2차원 배열 db가 주어질 때, 
# 다음과 같이 로그인 성공, 실패에 따른 메시지를 return하도록 
# solution 함수를 완성해주세요.

# 아이디와 비밀번호가 모두 일치하는 회원정보가 있으면 
# "login"을 return합니다.
# 로그인이 실패했을 때 아이디가 일치하는 회원이 없다면 “fail”를, 
# 아이디는 일치하지만 비밀번호가 일치하는 회원이 없다면 “wrong pw”를
# return 합니다.

# 입출력 예
# id_pw	db	result
# ["meosseugi", "1234"]	// [["rardss", "123"], ["yyoom", "1234"], ["meosseugi", "1234"]] //	"login"
# ["programmer01", "15789"] //	[["programmer02", "111111"], ["programmer00", "134"], ["programmer01", "1145"]] //	"wrong pw"
# ["rabbit04", "98761"] //	[["jaja11", "98761"], ["krong0313", "29440"], ["rabbit00", "111333"]]	// "fail"


def logins(id_pw, db):
    answer = ''
    lg = 0
    id = 0
    wr = 0
    for i in range(len(db)):
        ppl = db[i]
        if ppl[0] == id_pw[0] and ppl[1] == id_pw[1]:
            lg = 1
        elif ppl[0] == id_pw[0] and ppl[1] != id_pw[1]:
            id = 1
        elif ppl[0] != id_pw[0]:
            wr = 1
    if lg==1:
        return 'login'
    elif lg !=1 and id ==1 :
        return  'wrong pw'
    elif lg!=1 and id != 1 and wr ==1:
        return 'fail'

In [407]:
logins(["meosseugi", "1234"],[["rardss", "123"], ["yyoom", "1234"], ["meosseugi", "1234"]])

['rardss', '123']
['yyoom', '1234']
['meosseugi', '1234']

'login'

In [401]:
len([["rardss", "123"], ["yyoom", "1234"], ["meosseugi", "1234"]])

3

In [433]:
# (등수 매기기)문제 설명
# 영어 점수와 수학 점수의 평균 점수를 기준으로 학생들의 등수를 매기려고 합니다. 
# 영어 점수와 수학 점수를 담은 2차원 정수 배열 score가 주어질 때, 
# 영어 점수와 수학 점수의 평균을 기준으로 매긴 등수를 담은 배열을 
# return하도록 solution 함수를 완성해주세요.

# 입출력 예
# score	result
# [[80, 70], [90, 50], [40, 70], [50, 80]]	[1, 2, 4, 3]
# [[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]]	[4, 4, 6, 2, 2, 1, 7]


def meangrade(score):
    answer = []
    mean = []
    grade = []
    for i in range(len(score)):
        mean.append(sum(score[i])/2)

    sorted_mean = sorted(mean,reverse=True)
    grade = [sorted_mean.index(s)+1 for s in mean ]
        
    return grade

In [434]:
meangrade([[80, 70], [90, 50], [40, 70], [50, 80]])

[1, 2, 4, 3]

In [423]:
tests = meangrade([[80, 70], [90, 50], [40, 70], [50, 80]])

In [432]:
tests[1:3]

[[1, 70.0], [2, 55.0]]

In [202]:
# (치킨 쿠폰)문제 설명
# 프로그래머스 치킨은 치킨을 시켜먹으면 한 마리당 쿠폰을 한 장 발급합니다. 
# 쿠폰을 열 장 모으면 치킨을 한 마리 서비스로 받을 수 있고, 
# 서비스 치킨에도 쿠폰이 발급됩니다. 
# 시켜먹은 치킨의 수 chicken이 매개변수로 주어질 때 
# 받을 수 있는 최대 서비스 치킨의 수를 return하도록 solution 함수를 완성해주세요.

# 입출력 예
# chicken	result
# 100	11
# 1,081	120

def coupon(chicken):
    # 쿠폰수 = 치킨
    # (쿠폰수/10)의 몫 => + 서비스
    
    # ((쿠폰수/10)의 나머지) + 서비스) /  10의 몫 => + 서비스
    # :를 반복 -> ((쿠폰수/10)의 나머지) + 서비스)가 10보다 큰동안 반복
    
    ncoup = chicken
    services = 0
    newservices = chicken//10
    ncoup = chicken%10+newservices
    services += newservices
    print(newservices, ncoup, services)
    while ncoup>=10:
        newservices = ncoup//10
        ncoup = ncoup%10 + newservices
        services += newservices
        print(newservices, ncoup, services)
        # n = chicken //10 
        # answer += n
        # coup = chicken%10
        # while n < 10:
        #     coup += n //10
        #     n = n //10
        
    return services

In [204]:
coupon(1081)

108 109 108
10 19 118
1 10 119
1 1 120

120

In [199]:
# (저주의 숫자 3)문제 설명
# 3x 마을 사람들은 3을 저주의 숫자라고 생각하기 때문에 
# 3의 배수와 숫자 3을 사용하지 않습니다. 
# 3x 마을 사람들의 숫자는 다음과 같습니다.

# 10진법	3x 마을에서 쓰는 숫자	10진법	3x 마을에서 쓰는 숫자
# 1	1	6	8
# 2	2	7	10
# 3	4	8	11
# 4	5	9	14
# 5	7	10	16
# 정수 n이 매개변수로 주어질 때, 
# n을 3x 마을에서 사용하는 숫자로 바꿔 return하도록
# solution 함수를 완성해주세요.

def nothree(n):
    k = 0
    for i in range(n):
        k+=1
        if k%3 ==0:
            k +=1
        while '3' in str(k):
            k+=1
        if k%3 ==0:
            k+=1
        # print(i,k)
    return k

In [460]:
nothree(15)

25

In [482]:
# (유한소수 판별하기)문제 설명
# 소수점 아래 숫자가 계속되지 않고 유한개인 소수를 유한소수라고 합니다. 
# 분수를 소수로 고칠 때 유한소수로 나타낼 수 있는 분수인지 판별하려고 합니다. 
# 유한소수가 되기 위한 분수의 조건은 다음과 같습니다.

# 기약분수로 나타내었을 때, 분모의 소인수가 2와 5만 존재해야 합니다.
# 두 정수 a와 b가 매개변수로 주어질 때, a/b가 유한소수이면 1을,
# 무한소수라면 2를 return하도록 solution 함수를 완성해주세요.

# 입출력 예
# a	b	result
# 7	20	1
# 11	22	1
# 12	21	2
# 입출력 예 설명
# 입출력 예 #1

# 분수 7/20은 기약분수 입니다. 분모 20의 소인수가 2, 5 이기 때문에 유한소수입니다. 따라서 1을 return합니다.
# 입출력 예 #2

# 분수 11/22는 기약분수로 나타내면 1/2 입니다. 분모 2는 소인수가 2 뿐이기 때문에 유한소수 입니다. 따라서 1을 return합니다.
# 입출력 예 #3

# 분수 12/21는 기약분수로 나타내면 4/7 입니다. 분모 7은 소인수가 7 이므로 무한소수입니다. 따라서 2를 return합니다.
# Hint
# 분자와 분모의 최대공약수로 약분하면 기약분수를 만들 수 있습니다.
# 정수도 유한소수로 분류합니다.

def decilimit(a, b):
    answer = 0
    cd = gcd(a,b)
    try: 
        if a//b > 1 :
            if a//b>=1 and a%b ==0:
                answer = 1
            else:
                tmp = a/cd
                if tmp%2==0 or tmp%5==0:
                    answer = 1
                else:
                    answer = 2
            
        elif b//a >= 1:
            if b//a >=1 and b%a ==0:
                answer =1
            else: 
                tmp = b/cd
                if tmp%2 ==0 or tmp%5==0:
                    answer = 1
                else:
                    answer = 2   
        return answer
    except ZeroDivisionError:
        return 1

In [479]:
def gcd(d1, d2):
    if d1%d2==0:
        return d2
    elif d2%d1==0:
        return d1
    else:
        dv = 1
        for i in range(1,d1):
            if i ==1 and d1%2==0 and d2%2 ==0:
                dv = 2
            if i> 1 and d1%i==0:
                if d2%i==0:
                    dv = max(dv, i)
                else:
                    pass
            else:
                return 1
    return dv

In [486]:
decilimit(6,30)

1

In [464]:
gcd(5,2)

1

In [467]:
if 1%2 ==0 or 1%5==0:
    answer = 1
else:
    answer = 2
print(answer)

2

In [544]:
def dlimit(a, b):
    answer = 0
    k=1
    denom = b
    while a%k ==0 and b%k==0:
        # print(k)
        k+=1
    if k ==2:
        if b == 1:
            answer = 1
        else: 
            pr = 5
            npr = 2
            prd = denom//pr
            nprd = denom//npr
            while ii<5 or prd%pr==0 or nprd%npr ==0:
                pr = pr*5
                npr = npr*2
                prd = prd//pr
                nprd = nprd//npr
                ii+=1
            if denom/
        else:
            answer = 2
    else:
        print(k)
        denom = b//(k-1)
        if denom==2 or denom==5:
            answer = 1
        else:
            answer = 2

    return answer

In [548]:
dlimit(7,20)

2

In [504]:
# 입력값 〉 5, 1
# 기댓값 〉 1

# 입력값 〉 30, 6
# 기댓값 〉 1

# 입력값 〉 6, 30
# 기댓값 〉 1

# 입력값 〉 15, 22
# 기댓값 〉 2

# 입력값 〉 31, 14
# 기댓값 〉 2

0.22727272727272727

In [609]:
# (특이한 정렬)문제 설명
# 정수 n을 기준으로 n과 가까운 수부터 정렬하려고 합니다. 
# 이때 n으로부터의 거리가 같다면 더 큰 수를 앞에 오도록 배치합니다. 
# 정수가 담긴 배열 numlist와 정수 n이 주어질 때 
# numlist의 원소를 n으로부터 가까운 순서대로 정렬한 배열을 return하도록 
# solution 함수를 완성해주세요.

# 제한사항
# 1 ≤ n ≤ 10,000
# 1 ≤ numlist의 원소 ≤ 10,000
# 1 ≤ numlist의 길이 ≤ 100
# numlist는 중복된 원소를 갖지 않습니다.
# 입출력 예
# numlist	n	result
# [1, 2, 3, 4, 5, 6]	4	[4, 5, 3, 6, 2, 1]
# [10000,20,36,47,40,6,10,7000]	30	[36, 40, 20, 47, 10, 6, 7000, 10000]

def specialsort(numlist, n):
    answer = []
    sub = [x - n for x in numlist]
    sub.sort(reverse=True)
    sub2 = sub.copy()
    mi = []
    pu =[]
    ind = 0
    while sub2:
        nk = sub2.pop()
        if nk < 0:
            mi.append(nk)
        elif nk>=0:
            pu.append(nk)
    while mu or pu:
        if
            
        
    # for i in range(len(sub)):
    #     answer.append(sub[i]+n)
        
    return answer

In [610]:
specialsort([1, 2, 3, 4, 5, 6],	4)

[2, 1, 0, -1, -2, -3]

[]

In [602]:
tests = [1, 2, 3, 4, 5, 6]
for x in tests:
    print(x)
    if x > 4:
        tests.remove(x)

1
2
3
4
5

In [587]:
tests

[1, 2, 3, 4, 6]